body {
  background-color: #303;
  color: #FFF; }

nav {
  border-bottom: 1px solid #f0f0f0; }
  nav .nav.navbar-nav li a {
    color: #303; }
    nav .nav.navbar-nav li a:hover, nav .nav.navbar-nav li a:active, nav .nav.navbar-nav li a:focus {
      color: #FFF;
      background-color: #303; }
  nav .navbar-header button.navbar-toggle, nav .navbar-header button.collapsed:hover, nav .navbar-header button.navbar-toggle:active, nav .navbar-header button.navbar-toggle:hover, nav .navbar-header button.navbar-toggle:focus {
    background-color: #303; }
    nav .navbar-header button.navbar-toggle span.icon-bar, nav .navbar-header button.collapsed:hover span.icon-bar, nav .navbar-header button.navbar-toggle:active span.icon-bar, nav .navbar-header button.navbar-toggle:hover span.icon-bar, nav .navbar-header button.navbar-toggle:focus span.icon-bar {
      background-color: #FFF; }
  nav .navbar-header button.collapsed {
    background-color: #FFF; }
    nav .navbar-header button.collapsed span.icon-bar {
      background-color: #303; }

nav .navbar-header a.navbar-brand, nav .navbar-header a.navbar-brand:active, nav .navbar-header a.navbar-brand:focus {
  color: #303; }
  nav .navbar-header a.navbar-brand:hover, nav .navbar-header a.navbar-brand:active:hover, nav .navbar-header a.navbar-brand:focus:hover {
    color: #000; }

nav .navbar-header .navbar-brand {
  padding-top: 0; }

nav .navbar-header a img {
  height: 50px; }
  nav .navbar-header a img:hover {
    transform: scale(1.1); }

section {
  margin-top: 50px; }

.page {
  background-color: #FFF;
  min-height: 700px;
  color: #303;
  padding-top: 10px;
  padding-bottom: 10px; }

footer {
  background-color: #f8f8f8;
  color: #303;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #f0f0f0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 25px rgba(0, 0, 0, 0.075); }
