<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ng-href="#/">
        <img src="./assets/logo.svg" alt="Coders" />
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-top" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="nav-top" aria-expanded="false">
      <ul class="nav navbar-nav">
        <li><a ng-href="#/">Home</a></li>
        <li><a ng-href="#/teste">Page 2</a></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li ng-if="!ctrl.user"><a data-toggle="modal" data-target="#registerModal">Log On</a></li>
        <li ng-if="!ctrl.user"><a data-toggle="modal" data-target="#loginModal" class="active">Log In</a></li>
        <li ng-if="ctrl.user"><a ng-click="ctrl.logOut()" class="active">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
