<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ng-href="#/">
        <img src="./assets/logo.svg" alt="Coders" />
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-top" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="nav-top" aria-expanded="false">
      <!-- Default nav -->
      <ul ng-if="!ctrl.user" class="nav navbar-nav col-sm-3">
        <li><a ng-href="#/">Home</a></li>
      </ul>
      <!-- User nav -->
      <ul ng-if="ctrl.user" class="nav navbar-nav col-sm-3">
        <li><a ng-href="#/page/{{ctrl.user._id}}">{{ctrl.user.nick}}</a></li>
      </ul>
      <!-- Search -->
      <ul class="nav navbar-nav col-sm-5 search">
        <li>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="search">
            <span class="input-group-btn">
              <a class="btn btn-purple" ng-href="#/search/{{search | lowercase}}"><i class="fa fa-search"></i></a>
            </span>
          </div>
        </li>
      </ul>
      <!-- Right nav -->
      <ul class="nav navbar-nav pull-right">
        <li ng-if="!ctrl.user"><a data-toggle="modal" data-target="#registerModal">Log On</a></li>
        <li ng-if="!ctrl.user"><a data-toggle="modal" data-target="#loginModal" class="active">Log In</a></li>
        <li ng-if="ctrl.user"><a ng-click="ctrl.logOut()" class="active">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
