@import colors

body
	background-color: $purple
	color: $white

// Nav

nav
	border-bottom: 1px solid $dgrey

nav .nav li a
	color: $purple !important

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
	background-color: $purple
	color: $white !important

.navbar-collapse.collapse.in, .navbar-collapse.collapsing
	margin-top: 12px

.navbar-default .navbar-collapse, .navbar-default .navbar-form
	border: none

.navbar-default .navbar-toggle .icon-bar
	background-color: $purple

.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar
	background-color: $white

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover
	background-color: $purple

button.navbar-toggle.collapsed
	background-color: $grey

ul.nav.navbar-nav
	background-color: $grey !important

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover
	background-color: $purple
	color: $white !important

// Logo
nav i
	color: $purple

nav i:hover
	color: $lpurple

section
	margin-top: 50px

.page
	background-color: $white
	min-height: 700px
	color: $purple
	padding-top: 10px
	padding-bottom: 10px

footer
	background-color: $grey
	color: $purple
	padding-top: 10px
	padding-bottom: 10px
	border-top: 1px solid $dgrey
